<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataFilePath" value="accounting.dat"/>
    <add key="BackupFilePath" value="backup.json"/>
    <add key="Password" value="12345678"/>
    <add key="IV" value="87654321"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

</configuration>